body{
    padding-left: 2em;
    padding-right: 2em;
}

.thumb-image {
    width: 50px;
}

td form{
    display: inline-block;
}

.img-update{
    width:30%;
}

.img-container{
    margin: 1rem auto;
}